////////////////////////////////////////////////////////////
// Описание пакета для сборки и установки
// Полную документацию см. на hub.oscript.io/packaging
//

Описание.Имя("project-1с")
    .Версия("1.0.0")
    .ВерсияСреды("1.9.0")
    .ЗависитОт("add")
    .ЗависитОт("vanessa-automation-single")
    .ЗависитОт("vanessa-runner")

;
