////////////////////////////////////////////////////////////
// Описание пакета для сборки и установки
// Полную документацию см. https://oscript.io/learn/new-project#заполнение-манифеста
//

Описание.Имя("project-1с")
    .Версия("1.0.0")
    .ВерсияСреды("lts")
    .ЗависитОт("add")
    .ЗависитОт("vanessa-automation-single")
    .ЗависитОт("vanessa-runner")

;
