{
    "Lang": "ru",
    "DebugLog": false,
    "ВыполнитьСценарии": true,
    "ЗавершитьРаботуСистемы": true,
    "ЗакрытьTestClientПослеЗапускаСценариев": true,
    "КаталогФич": "$workspaceRoot/features",
    "КаталогиБиблиотек": [
        "$workspaceRoot/features"
    ],
    "СписокТеговИсключение": [
        "IgnoreOnCIMainBuild",
        "FirstStart",
        "Draft",
        "SlowBDD"
    ],
    "СписокТеговОтбор": [],
    "ДобавлятьКИмениСценарияУсловияВыгрузки": false,
    "ЗагрузкаФичПриОткрытии": "Загружать",
    "КомандаОткрытияФичиВТекстовомРедакторе": "\"code\" -g %Feature%:%LineNumber%",
    "ПоставщикПользовательскихНастроек": "FILE",
    "ВыполнениеСценариев": {
        "ВыполнятьШагиАссинхронно": false,
        "ИнтервалВыполненияШагаЗаданныйПользователем": 0.1,
        "ОбновлятьСтатистикуВДереве": true,
        "ОбновлятьДеревоПриНачалеВыполненияСценария": false,
        "ОстановкаПриВозникновенииОшибки": false,
        "ПоказыватьНомерСтрокиДереваПриВозникновенииОшибки": false,
        "ПриравниватьPendingКFailed": false,
        "ТаймаутДляАсинхронныхШагов": 0,
        "КоличествоСекундПоискаОкна": 5,
        "КоличествоПопытокВыполненияДействия": 3,
        "БезопасноеВыполнениеШагов": false,
        "ПаузаПриОткрытииОкна": 0
    },
    "КлиентТестирования": {
        "ЗапускатьКлиентТестированияСМаксимизированнымОкном": true,
        "ТаймаутЗапуска1С": 25,
        "ДиапазонПортовTestclient": "",
        "ЗапускатьТестКлиентВРежимеОтладки": false,
        "КлючиОтладки": "",
        "АдресОтладчика": "",
        "ДанныеКлиентовТестирования": []
    },
    "ДелатьОтчетВФорматеАллюр": true,
    "ОтчетAllure": {
        "КаталогВыгрузкиAllure": "$workspaceRoot/build/out/allure",
        "КаталогВыгрузкиAllureБазовый": "",
        "УровеньОтчета1": "#report.epic=;Каталог1",
        "УровеньОтчета2": "#report.feature=;ИмяФичи",
        "УровеньОтчета3": "#report.story=;ИмяСценария",
        "ГруппировкаTestSuites": "",
        "ПрикладыватьКОтчетуAllureЖурналРегистрацииВыполненияСценария": true,
        "ПрикладыватьКОтчетуAllureДанныеОСостоянииАктивнойФормы": true,
        "ПрикладыватьКОтчетуAllureДанныеОЗначенияхПеременных": true,
        "ПрикладыватьКОтчетуAllureДанныеОСостоянииВсехФорм": true,
        "ПрикладыватьКОтчетуAllureДанныеОСетевыхСоединениях": false,
        "ПрикладыватьКОтчетуAllureДанныеОПроцессахОС": false,
        "КаталогОтносительноКоторогоНадоСтроитьИерархию": "$workspaceRoot/features",
        "ДанныеАллюрМеток": []
    },
    "ДелатьОтчетВФорматеjUnit": false,
    "ДелатьОтчетВФорматеCucumberJson": true,
    "ОтчетCucumber": {
        "КаталогВыгрузкиCucumberJson": "$workspaceRoot/build/out/cucumber"
    },
    "ДелатьОтчетВФорматеСППР": false,
    "СоздаватьИнструкциюHTML": false,
    "СоздаватьИнструкциюMarkdown": false,
    "ДелатьОтчетВоВнутреннемФормате": false,
    "ДелатьЛогВыполненияСценариевВЖР": true,
    "ДелатьЛогВыполненияСценариевВТекстовыйФайл": true,
    "ВыводитьВЛогВыполнениеШагов": true,
    "ДелатьЛогОшибокВТекстовыйФайл": true,
    "СобиратьДанныеОСостоянииАктивнойФормыПриОшибке": true,
    "СобиратьДанныеОСостоянииВсехФормПриОшибке": true,
    "СобиратьДанныеОСетевыхСоединениях": false,
    "СобиратьДанныеОПроцессахОС": false,
    "ИспользоватьБраузерПлюсWebSocket": false,
    "ЭмулироватьДвиженияМышкиVanessaExt": false,
    "ЭмулироватьВводКлавиатурыVanessaExt": false,
    "ИгнорироватьОшибкиПоискаЭлементовВБраузере": false,
    "ИмяФайлаЛогВыполненияСценариев": "$workspaceRoot/build/vbOnline.log",
    "ВыгружатьСтатусВыполненияСценариевВФайл": true,
    "ПутьКФайлуДляВыгрузкиСтатусаВыполненияСценариев": "$workspaceRoot/build/out/bdd-exit-code.log",
    "ИмяКаталогаЛогОшибок": "$workspaceRoot/build/log",
    "ТихаяУстановкаVanessaExt": true,
    "InstallVanessaExtOnFailOfQuietInstall": true,
    "ИспользоватьКомпонентуVanessaExt": true,
    "ИспользоватьВнешнююКомпонентуДляСкриншотов": true,
    "СпособСнятияСкриншотовВнешнейКомпонентой": 2,
    "ДелатьСкриншотПриВозникновенииОшибки": true,
    "СниматьСкриншотКаждогоОкна1С": true,
    "КаталогВыгрузкиСкриншотов": "$workspaceRoot/build/out/screenshots",
    "СоздаватьИнструкциюВидео": false,
    "ИспользоватьSikuliXСервер": false,
    "ИскатьЭлементыФормыПоИмени": false,
    "ДобавлятьПриНакликиванииМетаИнформацию": false,
    "ТегTreeВключенПоУмолчанию": true
}
